### IntelliJ IDEA ###
#.idea
*.iws
*.iml
*.ipr
*.exe

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project exclude paths
/06-typescript/day01/code/01hello.js
/06-typescript/day01/code/02origin.js
/06-typescript/day01/code/03array.js
/06-typescript/day01/code/04typeAlias.js
/06-typescript/day01/code/05function.js
/06-typescript/day01/code/06object.js
/06-typescript/day01/code/07interface.js
/06-typescript/day01/code/08tuple.js
/06-typescript/day01/code/09deduction.js
/06-typescript/day01/code/10assert.js
/06-typescript/day01/code/11constType.js
/06-typescript/day01/code/12enum.js
/06-typescript/day01/code/13any.js
/06-typescript/day01/code/14typeof.js
/06-typescript/day02/code/01class.js
/06-typescript/day02/code/02CompatibilityType.js
/06-typescript/day02/code/03crossType.js
/06-typescript/day02/code/04genericity.js
/06-typescript/day02/code/05indexSign.js
/06-typescript/day02/code/06mapType.js
/06-typescript/day03/code/01-axios/src/01-code.js
/06-typescript/day03/code/01-axios/src/02-lodash.js
/06-typescript/day03/code/01-arr.js